@model mvcAppNinjaDemo.Models.Clan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClanImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClanImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClanInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClanInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
