@model IEnumerable<mvcAppNinjaDemo.Models.Clan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClanImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClanInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClanImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClanInfo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
